*{
    width: 100%;
    box-sizing: border-box;
    display: fixed;
  
}
body{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
}
.hi{
  border-radius: 10%;  
}
.hii{
    height: 50px;
}
.hiii{
    height: 35px;
    width: 35px;
}
.bb{
    width: 100px;
    height: 45px;
 
}
